* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.nav-menu {
    text-align: center;
    padding: 32px 0px;
}

.nav-menu-item {
    display: inline;
    margin: 0px 72px;
}

.nav-menu-item > a {
    text-decoration: none;
    color: #000;

    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}

.img {
    width: 100%;
    height: 100%;
}

.title {
    color: #000;

    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%;
}

.main-content {
    display: block;
    margin: 0px 272px;
    padding: 88px 0px;
    align-items: center;
}

.main-content-text {
    color: #161616;

    display: block;
    padding: 40px 0px;
}

.main-text {
    margin-bottom: 24px;

    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
}

.main-span {
    color: #04959E;
    font-size: 21px;
    font-weight: 600;
}

.main-content-list {
    padding-inline-start: 20px;

    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.more-link {
    display: block;
    text-align: center;
    width: 145px;
    margin: 50px auto;
    padding: 10px 24px;
    border: 0;

    background-color: #04959E;
    
    color: #FFF;

    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}

.footer {
    display: block;
    margin: 0px auto;
    padding: 16px 0px;
}

.footer-text {
    color: #161616;

    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

